<h1>Cornerstone Component Library</h1>

<h2>Buttons</h2>
<p>Here are examples of how the button component can be used. </p>
<p>The button component supports multiple options to vary: color, width, icons and radius' from the base theme.</p>


<clib-button>Default Button</clib-button>

<clib-button color="secondary">Button Secondary Color</clib-button>
<clib-button borderstyle="outline">Button With Border</clib-button>

<clib-button width="full">Full Width Button</clib-button>
<clib-button width="small">Small Button</clib-button>
<clib-button width="large" >Shouty Button</clib-button>
<clib-button margin="margin-left">Margin Left Button</clib-button>

<hr>
