<h1>Cornerstone Component Library</h1>



<h3>Buttons</h3>
<p>Here are examples of how the button component can be used. </p>
<p>The button component supports multiple options to vary: color, width, icons and radius' from the base theme.</p>

<<<< CODE EXAMPLE HERE? >>>>

<br />
<clib-button>Default Button</clib-button>
<br />
<clib-button color="secondary">Button Secondary Color</clib-button>
<br />
<clib-button borderstyle="outline">Button With Border</clib-button> 
<br />
Other border options include: one, two, three
<br />
<clib-button width="full">Full Width Button</clib-button>
Full Width Button is limited to use in popup's only.
<br />
<clib-button width="small" radius="round">Small Rounded Button</clib-button>
<br />
<clib-button width="large" >Shouty Button</clib-button>
<br />
<clib-button margin="margin-left">Margin Left Button</clib-button>

<hr>

<h2>Input fields</h2>


<hr>

<h2>etc...</h2>